[submodule "WinDevDiary/vendor/imgui"]
	path = WinDevDiary/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "WinDevDiary/vendor/ImGui"]
	path = WinDevDiary/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "WinDevDiary/vendor/SQLiteCpp"]
	path = WinDevDiary/vendor/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
