[submodule "WinDevDiary/vendor/imgui"]
	path = WinDevDiary/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "WinDevDiary/vendor/ImGui"]
	path = WinDevDiary/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "WinDevDiary/vendor/SQLiteCpp"]
	path = WinDevDiary/vendor/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "WinDevDiary/vendor/yaml-cpp"]
	path = WinDevDiary/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "WinDevDiary/vendor/json"]
	path = WinDevDiary/vendor/json
	url = https://github.com/nlohmann/json.git
